{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    // compile against current version of Node and
                    // allow to use expression such as async/await in backend
                    "node": "current"
                }
            }
        ]
    ]
}
