{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    // compile current version of node and
                    // allow expression such as async/await
                    "node": "current"
                }
            }
        ]
    ]
}
